.admin-container{
    display: flex;
 .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important; //chiều cao dọc full màn
        }
    }
}
.admin-content{
    width: 100%;
    .admin-header{
        height: 40px;
        border: 1px solid green;
    }
    .admin-main{
        
    }
}